@use './theme.scss' as *;

.flamewars-container {
    color: $almost-black;
    white-space: pre-line;
}

// Used by both comments themselves and the preview
@mixin formatted-comment {
    display: block;
    margin: 0.3em 0 0.6em 0;
    overflow: hidden; // only needed for e.g. zalgo abuse

    > *:first-child {
        margin-top: 0;
    }
    > *:last-child {
        margin-bottom: 0;
    }
    
    a {
        color: $accent-dark;
    }

    ul {
        list-style: disc;
    }

    pre code, blockquote {
        display: block;
        border-left: 3px solid;
        background: $almost-white;
        padding: 5px 10px;
    }
    pre code {
        border-color: $accent-dark;
    }
    blockquote {
        margin-left: 0;
        margin-right: 0;
        border-color: $grey;
        font-style: italic;

        > *:first-child {
            margin-top: 0;
        }
        > *:last-child {
            margin-bottom: 0;
        }
    }

    hr {
        border: 0;
        border-top: 1px solid $grey;
    }
}
