$almost-white: #fbfbfb;
$grey: #7d7d7d;
$dark-grey: #2d2d2d;
$almost-black: #222;

form .loading-spinner {
    position: absolute;
}

#comments {
    color: $almost-black;
    white-space: pre-line;

    .sign-in-icon {
        display: inline-block;
        margin-left: 8px;
        height: 18px;
        width: 18px;
        cursor: pointer;
    }
}

.reply-form {
    margin-bottom: 10px;

    textarea {
        box-sizing: border-box;
        height: 75px;
        min-height: 75px;
        width: 100%;
        max-width: 100%;
        min-width: 100%;
        max-height: 350px;
        padding: 8px 10px;

        overflow: auto;
        overflow-wrap: break-word;
        font-size: 14px;
        font-family: "Helvetica Neue", arial, sans-serif;
        line-height: 1.5;
    }

    button[type="submit"] {
        background-color: #6d9baf;
        color: white;
        padding: 4px 8px;
        border-radius: 4px;
        outline: none;
        border: none;
        margin-right: 10px;
        cursor: pointer;

        &:hover {
            background-color: #3d7e9a;
        }
    }

    .chars-remaining-msg {
        color: $grey;
    }
}

.comments {
    list-style-type: none;
    width: 100%;
    margin: 0;
    padding: 0;

    .comment {
        width: 100%;

        .portrait {
            width: 50px;
            height: 50px;
            display: block;
            float: left;
        }
        .body {
            width: calc(100% - 65px);
            float: right;

            .author-name {
                margin-right: 10px;
                font-weight: bold;
            }
            .timestamp { 
                color: $grey;
            }
            .content {
                display: block;
                margin: 0.3em 0 0.6em 0;

                > *:first-child {
                    margin-top: 0;
                }
                > *:last-child {
                    margin-bottom: 0;
                }
                
                a {
                    color: #3d7e9a;
                }

                ul {
                    list-style: disc;
                }

                pre code, blockquote {
                    display: block;
                    border-left: 3px solid;
                    background: $almost-white;
                    padding: 5px 10px;
                }
                pre code {
                    border-color: #3d7e9a;
                }
                blockquote {
                    margin-left: 0;
                    border-color: $grey;
                    font-style: italic;

                    > *:first-child {
                        margin-top: 0;
                    }
                    > *:last-child {
                        margin-bottom: 0;
                    }
                }

                hr {
                    border: 0;
                    border-top: 1px solid $grey;
                }
            }
            .reply-btn {
                display: inline-block;
                margin-bottom: 15px;
                cursor: pointer;
                color: $grey;

                &:hover {
                    color: $dark-grey;
                }
            }
            .delete-btn {
                visibility: hidden;
                color: #c02d2e;
                cursor: pointer;
                margin-left: 10px;
            }

            &:hover {
                .delete-btn {
                    visibility: visible;
                }
            }
        }
    }
    .replies {
        clear: both;
        list-style-type: none;
        width: calc(100% - 65px);
        margin: 0 0 0 65px;
        padding: 0;
    }
}

.loading-spinner {
    display: inline-block;
    position: relative;
    width: 36px;
    height: 36px;

    div {
        box-sizing: border-box;
        display: block;
        position: absolute;
        width: 20px;
        height: 20px;
        margin: 8px;
        border: 3px solid #222;
        border-radius: 50%;
        animation: spinner 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
        border-color: #222 transparent transparent transparent;

        &:nth-child(1) {
            animation-delay: -0.45s;
        }
        &:nth-child(1) {
            animation-delay: -0.3s;
        }
        &:nth-child(3) {
            animation-delay: -0.15s;
        }
    }
}

@keyframes spinner {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
  