@use '../theme.scss' as *;

.flamewars-container .flamewars-header {
    display: flex;
    justify-content: space-between;
    margin: 1em 0 0.7em 0;
    gap: 15px 10px;

    h2 {
        display: inline-block;
        margin: 0 1em 0 0;
        font-size: 1em;
    }

    .powered-by {
        white-space: nowrap;
    }

    .sign-out {
        color: $grey;
        cursor: pointer;
        white-space: nowrap;

        &:hover {
            color: $dark-grey;
        }
    }
}

@media only screen and (max-width: 500px) {
    .flamewars-container .flamewars-header {
        flex-direction: column;
        margin-bottom: 1em;
    }
}
