@use '../theme.scss' as *;

.flamewars-container .votes {
    $button-horizontal-pad: 0.2em;

    .my-vote button {
        color: $accent-dark;
    }

    button {
        background: 0;
        border: 0;
        outline: 0;
        padding: 0 $button-horizontal-pad;
        color: $grey;
        font-size: 1em;

        &:disabled {
            color: $grey;
        }

        &:not(:disabled) {
            cursor: pointer;

            &:hover {
                color: $accent-dark;
            }
        }
    }

    span:first-child {
        margin-left: -$button-horizontal-pad; // Line things up
    }
}
