@use '../theme.scss' as *;

.flamewars-container .votes {
    $button-horizontal-pad: 0.2em;

    .my-vote button svg {
        stroke: $accent-dark;
    }

    span {
        display: inline-flex;

        &:first-child {
            margin-left: -$button-horizontal-pad; // Line things up
        }

        button {
            background: 0;
            border: 0;
            outline: 0;
            padding: 0 $button-horizontal-pad;
            font-size: 1em;
    
            svg {
                stroke: $grey;
            }
    
            &:disabled svg {
                stroke: $grey;
            }
    
            &:not(:disabled) {
                cursor: pointer;
    
                &:hover svg {
                    stroke: $accent-dark;
                }
            }
        }    
    }
}
